@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    src: local('Helvetica'), url('Helvetica.woff') format('woff');

}
.navbtn {
    padding: 38px 34.5px;
    background: #88C701;
    border: 1px solid #88C701;
    transition: all 400ms linear;
}
.navbtn:hover{
    background: #FFFFFF;
    color: #88C701;
}

.btn-2 {
    padding: 15px 27px;
    background: #88C701;
    border: 1px solid #88C701;
    border-radius: 25px;
    transition: all 400ms linear;
}
.btn-2:hover{
    background: #FFFFFF;
    color: #88C701;
}
.backgroundimgfrist{
    background-image: url(../images/bgpicfrist.png);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;

}

.bg-hero-1{
    background-image: url(../images/bgpicsecond.jpeg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;

}
.bg-hero-2{
    background-image: url(../images/bgpicthrd.jpeg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;

}
.bg-hero-3{
    background-image: url(../images/bgpicforth.jpeg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;

}
.bg-hero-4{
    background-image: url(../images/bgpicthrd.jpeg);
    background-repeat: no-repeat;
     background-size: cover;
    background-position: center;

}
/*---------------------------- backgroundpics----------------------------------------- */


/* -----------------------------max-width---------------------------------------------------- */
.max-w-474{
    max-width: 474px;
}
.pb-20{
    padding-bottom: 20px;
}
.pt-11{
    padding-top: 11px;
}
.pt-29{
    padding-top: 29px;
}
.pt-21{
    padding-top: 21px;
}
.max-w-1140{
    max-width: 1140px;
}
.pb-49{
    padding-bottom: 49px;
}
.pl-12{
    padding-left: 12px;
}
.pr-12{
    padding-right: 12px;
}
.max-w-267{
    max-width: 267px;
}
.max-w-570{
    max-width: 570px;
}
.max-w-477{
    max-width: 477px;
}
.max-w-412{
    max-width: 412px;
}
.max-w-508{
    max-width: 508px;
}
.max-w-202{
    max-width: 202px;
}
.max-w-471{
    max-width: 471px;
}
.max-w-548{
    max-width: 548px;
}

/* -----------------------------max-width---------------------------------------------- */
/* ------------------------------padding---------------------------------- */
.pb-30{
    padding-bottom: 30px;
}
.pt-443{
    padding-top: 443px;
}
.pb-8{
    padding-bottom: 8px;
}
.padding-76{
    padding: 76px;
}
.pt-16{
    padding-top: 16px;
}
.pt-94{
    padding-top: 94px;
}
.pb-124{
    padding-bottom: 124px;
}
.pb-11{
    padding-bottom: 11px;
}
.pb-44{
    padding-bottom: 44px;
}
.pb-18{
    padding-bottom: 18px;
}
.pt-124{
    padding-top: 124px;
}
.pb-73{
    padding-bottom: 73px;
}
.pb-39{
    padding-bottom: 39px;
}
.pt-176{
    padding-top: 176px;
}
.pb-74{
    padding-bottom: 74px;
}
.pt-35{
    padding-top: 35px;
}
.pb-33{
    padding-bottom: 33px;
}
.pt-74{
    padding-top: 74px;
}
.pl-36{
    padding-left: 36px;
}
.pb-176{
    padding-bottom: 176px;
}
.pt-94{
    padding-top: 94px;
}
.pb-94{
    padding-bottom: 94px;
}
.pt-32{
    padding-top: 32px;
}
.pb-32{
    padding-bottom: 32px;
}
.pt-44{
    padding-top: 44px;
}


/* ------------------------------padding---------------------------------- */

/* -------------------------------gap------------------------ */

.gap-17{
    gap: 17px;
}
.gap-24{
    gap: 24px;
}
.gap-16{
    gap: 16px;
}
.gap-28{
    gap: 28px;
}
.gap-38{
    gap: 38px;
}
.max-w-364 {
    max-width: 364px;
}



/* -------------------------------gap------------------------ */



.w-474 {
    max-width: 474px;
}

.w-285 {
    max-width: 285px;
}

.w-390 {
    max-width: 390px;
}

.w-359 {
    max-width: 359px;
}

.w-548 {
    max-width: 548px;
}

.w-485 {
    max-width: 485px;
}

.w-253 {
    max-width: 253px;
}

.w-461 {
    max-width: 461px;
}

.w-486 {
    max-width: 486px;
}

.w-398px {
    max-width: 398px;
}

.w-461 {
    max-width: 461px;
}

.w-267 {
    max-width: 267px;
}

.w-161 {
    max-width: 161px;
}

.w-309 {
    max-width: 309px;
}

.w-410 {
    max-width: 410px;
}
.frm-crd {
    padding: 32px 32px 36px 32px;
    border: 6px solid #EEF7EA;
    background: #FFFFFF;
    border-radius: 16px;
    max-width: 492px;
    min-height: 633px;
    right: 0;
    top: 0;
    top: -70%;
}
.bg-service {
    background-image: url(../images/wethr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 364px;
    border-radius: 10px;
    min-height: 409px;
    transition: all 500ms linear;
}
.gradient-bg {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms linear;
    opacity: 0;
}

.bg-service:hover .gradient-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 97.4%);
    opacity: 1;
}

.bg-color {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.12%, rgba(0, 0, 0, 0.4) 100%);
    max-width: 364px;
    border-radius: 10px;
    min-height: 409px;
}

.bg-service:hover {
    .servicetext {
        opacity: 0;
    }
}
.pb-45{
    padding-bottom: 45px;
}
.bg_service2 {
    background-image: url(../images/sky.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 364px;
    border-radius: 10px;
    min-height: 409px;
    transition: all 500ms linear;
}

.bg-service3 {
    background-image: url(../images/image3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 364px;
    border-radius: 10px;
    min-height: 409px;
    transition: all 500ms linear;
}

.gradient-bg3 {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms linear;
    opacity: 0;
}

.bg-service3:hover .gradient-bg3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 97.4%);
    opacity: 1;
}

.bg-color3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.12%, rgba(0, 0, 0, 0.4) 100%);
    max-width: 364px;
    border-radius: 10px;
    min-height: 409px;
}
.bg-grad{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.27%, rgba(0, 0, 0, 0.5) 100%);
}
.bg-service3:hover {
    .servicetext3 {
        opacity: 0;
    }
}


.gradient-bg2 {
    width: 100%;
    border-radius: 10px;
    transition: all 500ms linear;
    opacity: 0;
}

.bg_service2:hover .gradient-bg2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 97.4%);
    opacity: 1;
}

.bg-color2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.12%, rgba(0, 0, 0, 0.4) 100%);
    max-width: 364px;
    border-radius: 10px;
    min-height: 409px;
}

.bg_service2:hover {
    .servicetext2 {
        opacity: 0;
    }
}


input[id=inp-frm] {
    max-width: 424px;
    box-sizing: border-box !important;
    width: 100%;
    outline: none !important;
    padding: 16px 12px;
    border: 1px solid #0000001A;
    border-radius: 16px;
}
textarea {
    resize: none;
}

.text-area {
    max-width: 424px;
    min-height: 148px;
    width: 100%;
    padding: 16px 12px;
    border: 1px solid #0000001A;
    box-sizing: border-box !important;
    border-radius: 16px;
}
.mt-9{
    margin-top: 9px;
}
.frm-btn {
    max-width: 425px;
    width: 100%;
    background: #88C701;
    padding: 15px 27px;
    border: 1px solid #88C701;
    border-radius: 25px;
    margin-top: 32px;
    transition: all 400ms linear;
}
.frm-btn:hover{
    background: #FFFFFF !important;
    color:#88C701 !important;
}
.pt-21{
    padding-top: 21px;
}

.gap-28{
    gap: 28px;
}
.pt-75{
    padding-top: 75px;
}
.pb-55{
    padding-bottom: 55px;
}
.pt-65{
    padding-top: 65px;
}
.bg-gradient {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F8EC 100%);
}

input[id=inp-frm]:focus {
    border: 1px solid #88C701 !important;
    box-shadow: 0px 0px 0px 3px #38B0001A !important;
}
.crd-1 {
    padding: 41px 16px 27px 24px;
    border: 1px solid #DEEDD6;
    border-radius: 10px;
    background: #F0F8EC;
    transition: all 400ms ease-in-out;
}
.crd-1-svg {
    max-width: 58px;
    min-height: 58px;
    background: #FFFFFF;
    padding: 17px;
    border-radius: 50px;
    transition: all 400ms ease-in-out;
}
.crd-1:hover {
    background: #FFFFFF;
}

.crd-1:hover .crd-1-svg {
    background: #88C701;
}

.crd-1:hover .crd-1-svg svg path {
    fill: #FFFFFF;
}

.crd-1:hover .crd-1-svg2 svg path {
    stroke: #FFFFFF;
}

.crd-1:hover .crd-1-svg2 {
    background: #88C701;
}

.btn-2{
    background: #88C701;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 23px;
    padding-right: 23px;
    border-style: none;

}

.mt-28{
    margin-top: 28px;
}
.ml-19{
    margin-left: 19px;
}
.mb-11{
    margin-bottom: 11px;
}
.mt-37{
    margin-top: 37px;
}



.pt-110{
    padding-top: 110px;
}
.max-w-44{
    max-width: 44px;
}

.lin-1{
    border: 1px solid #000000
}
.mt-59{
    margin-top: 59px;
}
.mb-49{
    margin-bottom: 49px;
}
.pt-124{
    padding-top: 124px;
}
.itm10.jpeg {
    max-width: 486px;
    max-height: 297px;
    border-radius: 16px;
}
.itm9.jpeg {
    max-width: 461px;
    max-height: 297px;
    border-radius: 16px;
}
.itm9.jpeg {
    max-width: 461px;
    max-height: 297px;
    border-radius: 16px;
}
.itm9.jpeg {
    max-width: 461px;
    max-height: 297px;
    border-radius: 16px;
}
.itm10.jpeg{
    max-width: 486px;
    max-height: 297px;
    border-radius: 16px;
}

.min-h-297 {
    min-height: 297px;
}

.h-297 {
    max-height: 297px;
}

.crd-2 {
    max-width: 450px;
    width: 100%;
    padding: 20px 19px;
    border: 1px solid #0000001A;
    border-radius: 16px;
}
.pt-112{
    padding-top: 112px;
}





.header-logo{
    width: 250px;
}

.hero-box {
    width: 100%;
    height: 100vh;
  position: relative;
}
.bg-grad{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.27%, rgba(0, 0, 0, 0.5) 100%);
}
.bg-service3:hover {
    .servicetext3 {
        opacity: 0;
    }
}

.nav-box {
    background: #FFFFFF;
    box-shadow: 0px 13px 26px 0px #0000001A;
    padding: 0px 12px;
}

.z-20 {
    z-index: 20;
}

.bar {
    height: 5px;
    width: 35px;
    background: #88C701;
    border-radius: 6px;
}

.menulist.show {
    right: 0;
}

.menuicon.show .bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
    transition: all 400ms ease-in;

}

.menuicon.show .bar:nth-child(2) {
    display: none;
}

.menuicon.show .bar:nth-child(3) {
    transition: all 400ms ease-in;
    transform: translateY(2px) rotate(-45deg);
}

.pre-btn {
    top: 50%;
    transform: translateY(-50%);
    left: 2%;

}

.next-btn {
    top: 50%;
    transform: translateY(-50%);
    right: 2%;
}

.slick-track {
    display: flex;
}

@media (min-width:576px) {
    .py-94 {
        padding-top: 94.45px;
        padding-bottom: 94.45px;
    }

    .py-76 {
        padding-top: 76px;
        padding-bottom: 76px;
    }

    .py-124 {
        padding-top: 84px;
        padding-bottom: 84px;
    }

    .pt-110 {
        padding-top: 111px;
    }

    .pt-112 {
        padding-top: 88px;
    }

    .pb-112 {
        padding-bottom: 88px;
    }

    .pt-65-pb-54 {
        padding-top: 65px;
        padding-bottom: 54.5px;
    }
}

@media (min-width:768px) {
    .py-94 {
        padding-top: 94.45px;
        padding-bottom: 94.45px;
    }

    .py-124 {
        padding-top: 124px;
        padding-bottom: 124px;
    }

    .pt-112 {
        padding-top: 112px;
    }

    .pb-112 {
        padding-bottom: 112px;
    }
   
    .header_logo{
        width: 333px;
    }
}

@media (min-width:992px) {
  
    .pt-row-form {
        padding-top: 66px;
        padding-bottom: 79px;
    }
    .pt-lg-112 {
        padding-top: 112px;
    }

    .pt-75 {
        padding-top: 75px;
    }
    .nav-box{
        padding: 0px;
    }

}

@media (max-width:992px) {
    .menulist {
        flex-direction: column;
        position: fixed;
        top: 0;
        min-height: 100vh;
        width: 100%;
        align-items: center;
        justify-content: center;
        right: -100%;
        z-index: 50;
        background: #F0F8EC;
        transition: all 600ms linear;
    }

    .menuicon {
        z-index: 50;
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
}

@media (min-width:1200px) {
    .gap-28 {
        gap: 28px;
    }
    .frm-crd {
        position: absolute;
    }
}
@media (max-width:1140px) {
    .container2 {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px !important;
        padding-right: 12px !important;
    }
}
















